#emailList li .row {
	margin-bottom: 0px;
}

#emailList > li.active {
	margin: 10px;
}

#inboxCount {
	padding: 10px;
	font-size: 2rem;
	border: 3px solid salmon;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
	border-radius: 100%;
}